Source: submit
Section: mail
Priority: optional
Maintainer: Michael Schutte <m.schutte.jr@gmail.com>
Build-Depends: debhelper (> 7), python, python-distutils-extra
Build-Depends-Indep: python-support, asciidoc, xsltproc, docbook-xsl
Standards-Version: 3.8.0
Homepage: http://uiae.at/~michi/projects/submit/
Vcs-Git: git://git.debian.org/~michi-guest/submit.git
Vcs-Browser: http://git.debian.org/?p=users/michi-guest/submit.git

Package: submit
Architecture: all
Depends: ${python:Depends}, python-openssl
Recommends: exim4 | mail-transport-agent
Suggests: python-gtk2, python-gnome2-desktop
Description: sendmail program for multi-user systems
 submit is a daemon-less mail transfer agent for multi-user Unix systems.
 In contrast to other MTAs, it moves the configuration of non-local mail
 delivery away from system administrators and towards the individual
 users.  Notable features are:
 .
  * sendmail(8)-compatible command line interface.
  * Support for SMTP and Sendmail transports:  submit can relay mails
    through smarthosts as well as interface with other sendmail programs
    (such as those provided by Postfix, Exim or the original Sendmail).
  * Synchronous delivery:  When submit returns successfully, you can be
    sure that your mail is out.
  * SSL/TLS support, including CA- and fingerprint-based validation
    of the server’s identity and certificate-based authentication.
  * Pluggable interfaces (currently GTK+ and TTY) for authentication.
  * Optional daemon process storing SMTP passwords and passphrases to
    private keys.
  * Optional support for different delivery methods depending on the
    sender address selected in the mail client.
