#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_build:
	cp po/submit.pot po/submit.pot.save
	dh_auto_build
	make -C doc

override_dh_auto_clean:
	make -C doc clean
	find -name '*.pyc' -delete
	-mv po/submit.pot.save po/submit.pot
	dh_auto_clean
	-rm -rf build

override_dh_auto_install:
	dh_auto_install
	sed -i -e '/^# remove this/,/^$$/d' $(CURDIR)/debian/submit/usr/bin/submit
